@import url("https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&display=swap");
:root {
  --primary-black: #000000;
  --secondary-black: #222222;
  --primary-white: #f0f0f0;
  --secondary-dark-green: #464f41;
  --primary-dark-green: #56776b;
  --primary-green: #557e54;
  --primary-green-opacity: #557e54b8;
  --primary-light-green: #bfcba8;
  --secondary-gray: rgba(232, 232, 232, 0.637);
  --primary-gray: #707070;
  --primary-gray-opacity: #707070b8;
  --overlay: rgba(0, 0, 0, 0.541);
  --shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  --primary-heading: "Playfair Display", serif;
  --primary-text: "Abel", sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
}
main {
  background-color: var(--primary-white);
}
/* ==================================== GENERAL ==================================== */
h1 {
  display: none;
}
h4 {
  font-size: 20px;
  font-family: var(--primary-heading);
}
@media screen and (min-width: 600px) {
  h4 {
    font-size: 22px;
  }
}
h6 {
  font-family: var(--primary-heading);
  font-size: 12px;
}
h2,
h3,
h5 {
  font-family: var(--primary-heading);
  font-size: 20px;
  line-height: normal;
}
@media screen and (min-width: 600px) {
  h1,
  h2,
  h3,
  h5 {
    font-size: 25px;
  }
}
p {
  font-family: var(--primary-text);
  font-size: 15px;
  margin: 0;
  line-height: 25px;
}
@media screen and (min-width: 600px) {
  p {
    font-size: 17px;
  }
}
a {
  color: var(--primary-black) !important;
  font-family: var(--primary-text);
  text-decoration: none;
  font-size: 15px;
}
@media screen and (min-width: 600px) {
  a {
    font-size: 17px;
  }
}
.page-padding {
  padding: 120px 20px 20px 20px;
}
.whitespace {
  height: 25px;
}
.greenspace {
  width: 100%;
  height: 5px;
  background-color: var(--primary-green);
}
.button1 {
  /* almindelige "runde" knapper */
  border-radius: 20px;
  width: 170px;
  height: 45px;
  font-family: var(--primary-heading);
  font-size: 20px;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.button2 {
  /* firkantede knapper */
  width: 100%;
  height: 170px;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .button2 {
    width: 100%;
    height: 240px;
    font-size: 24px;
  }
  .button2:hover {
    background-color: var(--primary-gray);
  }
}
.btn-text1 {
  font-family: var(--primary-heading);
  font-size: 50px;
  line-height: 60px;
}
.btn-text2 {
  font-family: var(--primary-heading);
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .btn-text1 {
    font-size: 80px;
    line-height: 80px;
  }
  .btn-text2 {
    font-size: 40px;
  }
}
.button3 {
  /* grid knapper */
  width: 160px;
  height: 70px;
  font-family: var(--primary-heading);
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--primary-green-opacity);
  backdrop-filter: blur(2px);
  color: var(--primary-white);
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .button3 {
    width: 100%;
    height: 60px;
  }
}
.button4 {
  /* kalender knapper */
  border-radius: 20px;
  width: 180px;
  height: 40px;
  font-family: var(--primary-heading);
  font-size: 16px;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.green {
  color: var(--primary-white);
  background-color: var(--primary-green);
}
.dark-green {
  color: var(--primary-white);
  background-color: var(--primary-dark-green);
}
.dark-green2 {
  color: var(--primary-white);
  background-color: var(--secondary-dark-green);
}
.light-green {
  color: var(--primary-white);
  background-color: var(--primary-light-green);
}
.white {
  color: var(--primary-white);
}
/* ==================================== MENU NAV ==================================== */
.burger {
  width: 40px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
}
.line {
  background-color: var(--secondary-black);
  height: 3px;
  width: 40px;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.line2 {
  margin: 10px 0 10px 0;
}
/* Rotate first bar */
.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
  transform: rotate(-45deg) translate(-9px, 10px);
  background-color: var(--secondary-black);
}
/* Fade out the second bar */
.open .line2 {
  opacity: 0;
  background-color: var(--secondary-black);
}
/* Rotate last bar */
.open .line3 {
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: var(--secondary-black);
}
header {
  background-color: var(--primary-white);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 72px;
  z-index: 999;
}
.logo {
  margin: 5px;
  width: 175px;
  height: 100px;
  position: absolute;
  z-index: 3;
}
.divider {
  position: absolute;
  top: 66px;
  background-color: var(--primary-green);
  width: 100vw;
  height: 6px;
}
.nav-list {
  display: none;
  text-align: center;
  background: var(--primary-white);
  padding: 100px 0 0 0;
  height: 340px;
}
.nav-link {
  font-family: var(--primary-heading);
  font-size: 1.4em;
  margin: 15px 15px 0 15px;
  border-bottom: 1px solid var(--primary-green);
}
.menu-open {
  display: block;
}
/* ==================================== FOOTER ==================================== */
footer {
  background-color: var(--primary-white);
  padding: 0 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 24px;
}
@media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
    align-items: flex-start;
    line-height: 34px;
  }
}
.flex_content {
  width: 300px;
  text-align: center;
  margin: 20px auto;
}
.some-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px auto 0 auto;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .some-icons {
    gap: 20px;
  }
}
.iconify {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 600px) {
  .iconify {
    width: 45px;
    height: 45px;
  }
}
.copyright {
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .text_right_desktop {
    text-align: right;
  }
  .text_left_desktop {
    text-align: left;
  }
}

/* ==================================== INDEX ==================================== */
.frontpage-hero {
  background-position: top;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation: fadeIn linear 1s;
  box-shadow: var(--shadow);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero1 {
  background-image: url(../images/hero1.jpg);
}
.hero2 {
  background-image: url(../images/hero2.png);
}
.hero3 {
  background-image: url(../images/hero3.jpg);
}

.hero-wrapper {
  position: relative;
  height: 80vh;
}
@media screen and (min-width: 600px) {
  .hero-wrapper {
    height: 75vh;
  }
}
.hero-text {
  transition: 4s ease-in-out content;
  width: 65%;
  margin: 0 auto 20px auto;
  text-shadow: var(--primary-black) 1px 0 10px;
}
.hero-section {
  height: 80vh;
}
.background_filter_hero{
  height: 80vh;
  z-index: 999999999;
  
}
/* ==================================== MEDLEMSFORDELE SECTION ==================================== */
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 0px;
  text-align: center;
  grid-auto-flow: row;
  grid-template-areas:
    "ostanlaegget teigar-rideudstyr"
    "klubdage staevner"
    "pet-house saxild";
}
@media screen and (min-width: 600px) {
  .container2 {
    width: 80%;
    margin: auto;
    height: 60vh;
    grid-template-columns: 1.1fr 0.9fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "ostanlaegget teigar-rideudstyr klubdage klubdage"
      "ostanlaegget staevner staevner pet-house"
      "ostanlaegget saxild saxild pet-house"
      "ostanlaegget saxild saxild pet-house";
  }
}
.grid-img {
  background-position: center;
  height: 160px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  box-shadow: var(--shadow);
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 600px) {
  .grid-img {
    width: 100%;
    height: 100%;
  }
}
.ostanlaegget {
  grid-area: ostanlaegget;
  background-image: url(../images/fav_icon.svg);
}
@media screen and (min-width: 600px) {
  .ostanlaegget {
    grid-area: ostanlaegget;
  }
}
.teigar-rideudstyr {
  grid-area: teigar-rideudstyr;
  background-image: url(../images/fav_icon.svg);
}
@media screen and (min-width: 600px) {
  .teigar-rideudstyr {
    grid-area: teigar-rideudstyr;
  }
}
.klubdage {
  grid-area: klubdage;
  background-image: url(../images/fav_icon.svg);
}
@media screen and (min-width: 600px) {
  .klubdage {
    grid-area: klubdage;
  }
}
.staevner {
  grid-area: staevner;
  background-image: url(../images/fav_icon.svg);
}
@media screen and (min-width: 600px) {
  .staevner {
    grid-area: staevner;
  }
}
.pet-house {
  grid-area: pet-house;
  background-image: url(../images/fav_icon.svg);
}
@media screen and (min-width: 600px) {
  .pet-house {
    grid-area: pet-house;
  }
}
.saxild {
  grid-area: saxild;
  background-image: url(../images/fav_icon.svg);
}
@media screen and (min-width: 600px) {
  .saxild {
    grid-area: saxild;
  }
}
.modal {
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-text {
  width: 90%;
  height: 400px;
  background-color: var(--primary-green);
  margin: 50% auto;
  color: var(--primary-white);
  padding-bottom: 15px;
}
@media screen and (min-width: 600px) {
  .modal-text {
    margin: 12% auto;
    width: 70%;
    height: 510px;
  }
}
.modal-text-p {
  overflow: scroll;
  height: 200px;
  width: 80%;
  margin: auto;
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  .modal-text-p {
    font-size: 18px;
  }
}
.modal span {
  font-size: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.modal span:hover {
  color: var(--secondary-gray);
}
.modal h3 {
  margin-top: 0;
}
.line4 {
  width: 70%;
  height: 2px;
  background-color: var(--primary-white);
  margin: 10px auto;
}
@media screen and (min-width: 600px) {
  .line4 {
    width: 40%;
    margin: 25px auto;
  }
}
.flex2 {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 600px) {
  .flex2 {
    gap: 10px;
  }
}
@media screen and (min-width: 600px) {
  .modal p {
    width: 60%;
    margin: auto;
  }
}

/* ==================================== HERO BUTTON SECTION ==================================== */
.button-section {
  display: grid;
  grid-template-columns: repeat(3, 40vw);
  overflow: scroll;
  gap: 40px;
  scroll-snap-type: x mandatory;
  position: relative;
  height: 210px;
  margin-top: -75px;
}
@media screen and (min-width: 600px) {
  .button-section {
    grid-template-columns: repeat(3, 20vw);
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 275px;
    text-align: center;
    margin-top: -45px;
  }
}
.button-section::-webkit-scrollbar {
  display: none;
}
/* ==================================== HURTIG LINKS SECTION ==================================== */
.hurtiglinks {
  text-align: center;
}
.button-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 600px) {
  .button-section2 {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
  }
}
.medlemsfordele {
  text-align: center;
}
/* ==================================== VILHELMSBORG SECTION ==================================== */
.vilhelmsborg {
  background-color: white;
}
.vilhelmsborg_flex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px 150px 150px 150px;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  .vilhelmsborg_flex {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 400px;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .vilhelmsborg_flex {
    width: 80%;
  }
}
.vilhelmsborg_map {
  grid-column: 1;
  grid-row: 1/5;
  background-image: url("../images/map.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .vilhelmsborg_map {
    grid-column: 2;
    grid-row: 1;
  }
}
.vilhelmsborg-text {
  text-align: center;
  width: 90%;
  padding: 10px;
  margin: 40px auto 15px auto;
  box-shadow: var(--shadow);
  background-color: var(--secondary-gray);
  grid-column: 1;
  grid-row: 3/5;
}
@media screen and (min-width: 600px) {
  .vilhelmsborg-text {
    padding: 30px;
    box-shadow: none;
    background-color: transparent;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
  }
}
.vb-logo {
  width: 300px;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  .vb-logo {
    width: 350px;
    padding: 15px 0;
  }
}
/* ==================================== SPONSOR SECTION ==================================== */
.sponsorer {
  padding: 25px;
  text-align: center;
  background-color: white;
}

.sponsor_logo img {
  width: 100px !important;
  filter: grayscale(1);
  margin: 0 10px;
}

.sponsor_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  animation-name: sponsor;
  animation-duration: 10s;
  position: relative;
  animation-iteration-count: infinite;
}

.sponsor_logo_container {
  width: 100%;
  overflow: hidden;
}

.glide__slides {
  align-items: center;

}

.glide__slides img {
  width: 100px;
  filter: grayscale(50);
}
.glide__slides img:hover {
  filter:grayscale(0);
}
@keyframes sponsor {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
/* ------------------------------------ CALENDER ----------------------*/
.filter-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  max-width: 100%;
  height: 100%;
  padding: 0 20px;
}
.center {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.filter-buttons > div > label {
  font-family: var(--primary-text);
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.eventCheckBox {
  display: none;
}
.checkbox_box {
  height: 25px;
  width: 25px;
  background-color: white;
  margin: 0 5px 0 0;
  border: 1px solid var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background 0.15s;
}
.checkbox_box::after {
  content: "\2714";
  color: white;
}
.eventCheckBox:checked + .checkbox_box {
  background: var(--primary-green);
}
.grid-container > article {
  text-align: center;
  padding: 2em 1em;
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
  animation: fadeIn 0.4s;
  box-shadow: var(--shadow);
}
.search-bar {
  width: 345px;
  height: 25px;
  display: block;
  margin: 20px auto 0 auto;
  font-family: var(--primary-text);
  border: 1px solid var(--primary-black);
  box-shadow: var(--shadow);
}
@media screen and (min-width: 992px) {
  .search-bar {
    margin: 50px auto 0 auto;
  }
}
.modal_grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 50%;
  width: 100%;
}
#calender-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: center;
}
#calender-modal p {
  margin: 20px auto;
  height: 265px;
  text-align: left;
}
@media screen and (min-width: 600px) {
  #calender-modal p {
    width: 80%;
  }
}
.modal-text2 {
  width: 85%;
  height: auto;
  background-color: var(--primary-white);
  margin: 0 auto;
  color: var(--primary-black);
  padding-bottom: 15px;
  border-radius: 20px;
  border: 5px solid var(--primary-green);
  grid-row: 2/3;
}
@media screen and (min-width: 600px) {
  .modal-text2 {
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .modal-text2 {
    margin: 0 auto;
    width: 65%;
  }
}
.calender-modal-logo {
  width: 150px;
  position: relative;
  top: 5%;
  grid-row: 1/2;
}
@media screen and (min-width: 600px) {
  .calender-modal-logo {
    width: 200px;
    top: 3.9%;
  }
}
@media screen and (min-width: 992px) {
  .calender-modal-logo {
    width: 200px;
    top: 5%;
  }
}
.line5 {
  width: 55%;
  height: 2px;
  background-color: var(--primary-green);
  margin: 10px auto;
}
@media screen and (min-width: 600px) {
  .line5 {
    width: 60%;
    margin: 25px auto;
  }
}

/* ========================== loader styling =============================== */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--overlay);

  text-align: center;
}

.spinner {
  background-image: url(../images/fav_icon.svg);
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  -webkit-animation: fade 1s infinite;
  /* Safari */
  animation: fade 1s infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

/* ==================================== RESPONSIVE ==================================== */
@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
  .logo {
    margin: 10px;
    width: 175px;
  }
  .divider {
    top: 72px;
  }
  .nav-list {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 200px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: fit-content;
    padding: 10px 0;
  }
  .nav-link {
    font-size: 1.4em;
    border: none;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .contact {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .quick-links {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* ==================================== RESPONSIVE - GENERAL ==================================== */
  .button1 {
    border-radius: 20px;
    width: 180px;
    height: 50px;
    font-size: 22px;
  }

  .button4 {
    border-radius: 20px;
    width: 180px;
    height: 45px;
    font-size: 18px;
  }
  .button1:hover {
    background-color: var(--primary-gray);
  }

  .button3:hover {
    background-color: var(--primary-gray-opacity);
  }
  .button4:hover {
    background-color: var(--primary-gray);
  }

  /* ==================================== RESPONSIVE INDEX ==================================== */


}

/* ---------- grid container styling ---------- */
.event-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}
@media (min-width: 600px) {
  .event-grid-container {
    grid-template-columns: 1fr 1fr;
    /*.event-grid-container > article:hover {
    box-shadow: 0 8px 16px 0 var(--secondary-black);
    }*/
  }
}
@media (min-width: 992px) {
  .event-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.event-grid-container > article {
  text-align: center;
  padding: 2em 1em;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  animation: fadeIn 0.4s;
  box-shadow: var(--shadow);
  min-width: 250px;
}
/* ==================================== SoMe SECTION ==================================== */
.some-section {
  background-image: url(../images/some-background.jpg);
  background-size: cover;
  background-position: center;
}
.some_flex {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .some_flex {
    flex-direction: row;
  }
}
.background_filter {
  backdrop-filter: blur(2px) grayscale(0.8);
}
.instagram_widget_grid, .facebook_widget_grid{
  box-shadow: var(--shadow);
  border: 4px solid rgb(85, 126, 84, 0.1);
  background-color: var(--primary-green-opacity);
  display: block;
  margin: 50px auto;
  height: 400px
}
@media screen and (min-width: 992px) {
  .instagram_widget_grid:hover {
    background-color: var(--primary-gray-opacity);
    border: 4px solid rgb(112, 112, 112), 0.1;
  }
  .facebook_widget_grid:hover {
    background-color: var(--primary-gray-opacity);
    border: 4px solid rgb(112, 112, 112), 0.1;
  }
}
.widget_text {
  text-align: center;
  width: 280px;
  padding: 10px;
  color: var(--primary-white);
}

