// ========== root variables ==========
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&display=swap");

$primary-black: #000000;
$secondary-black: #222222;
$primary-white: #f0f0f0;
$secondary-dark-green: #464f41;
$primary-dark-green: #56776b;
$primary-green: #557e54;
$primary-light-green: #bfcba8;

$primary-heading: "Playfair Display", serif;
$primary-text: "Abel", sans-serif;

// ========== css reset ==========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}
// ========== general styling ==========
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-heading;
  text-align: center;
}

p {
  font-family: $primary-text;
}
a {
  color: $primary-black;
  font-family: $primary-text;
  text-decoration: none;
}
main {
  margin: 130px 0 0 0;
}
// ========== burger ==========
.burger {
  width: 40px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
}

.line {
  background-color: $secondary-black;
  height: 3px;
  width: 40px;
  border-radius: 15px;
  transition: 0.4s;
}

.line2 {
  margin: 10px 0 10px 0;
}

/* Rotate first bar */
.open .line1 {
  transform: rotate(-45deg) translate(-9px, 10px);
  background-color: $secondary-black;
}

/* Fade out the second bar */
.open .line2 {
  opacity: 0;
  background-color: $secondary-black;
}

/* Rotate last bar */
.open .line3 {
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: $secondary-black;
}

// ========== header ==========
header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.logo {
  margin: 4px;
  width: 175px;
  height: 100%;
  position: relative;
  z-index: 3;
}
.divider {
  position: absolute;
  top: 75px;
  background-color: $primary-green;
  width: 100vw;
  height: 5px;
}

.nav-list {
  display: none;
  text-align: center;
}
.nav-link {
  font-family: $primary-heading;
  font-size: 1.4em;
  margin: 15px 15px 0 15px;
  border-bottom: 1px solid $primary-green;
}

.menu-open {
  display: block;
}
// ========== index page ==========

// ========== footer ==========
footer {
  border-top: 5px solid $primary-green;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0 10px 0;
}
.copyright {
  text-align: center;
}
// ========= PC media query ===========
@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }

  .logo {
    margin: 10px;
    width: 175px;
  }
  .divider {
    top: 82px;
  }

  .nav-list {
    list-style-type: none;
    position: absolute;
    top: 15px;
    left: 200px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-link {
    font-size: 1.8em;
    border: none;
  }

  // ========== footer ==========
  .flex {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  .contact {
    align-items: flex-start;
  }
  .quick-links {
    align-items: flex-end;
  }
}
